APP_NAME=SintezCar Backend
DEBUG=true
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sintezcar
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=change-me-in-production
TELEGRAM_BOT_TOKEN=7599891241:AAG22bLTQclYki3AIhlPlo40nzIt2BdQkEk
BOT_TOKEN=7599891241:AAG22bLTQclYki3AIhlPlo40nzIt2BdQkEk
GOOGLE_CREDENTIALS_PATH=google_credentials.json
YANDEX_OAUTH_TOKEN=ваш_токен
YANDEX_CALENDAR_ID=default
LOG_LEVEL=INFO
ADMIN_IDS=1864568706